alaskaflora.org/chars/.htaccess
alaskaflora.org/chars/.pw
alaskaflora.org/chars/sql
alaskaflora.org/chars/transfer*
alaskaflora.org/onto/catalog-v001.xml
alaskaflora.org/tcm/tmp*
bin/gawk
bin/json.so
dataflow/ALA/ala.*
dataflow/authors*
dataflow/canonical/*_base
dataflow/canonical/accs
dataflow/canonical/accs2wcsp.tgz
dataflow/canonical/gnr.out
dataflow/chars*
dataflow/DB/bu*
dataflow/ENV.sh
dataflow/FNA/coarse_grained_fna_xml*
dataflow/FNA/fna_all.gz
dataflow/ING/ING_genus*
dataflow/PAF/paf.1
dataflow/PAF/paf.2
dataflow/PAF/paf.3
lib/db.awk
pages_md/untracked*

